# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
.notebook_cache/

# Project-generated
notebooks/export/
logs/
reports/
*.log

# OS
.DS_Store
Thumbs.db
